contourpy==1.3.3
cycler==0.12.1
filelock==3.29.0
fonttools==4.63.0
fsspec==2026.4.0
ImageIO==2.37.4
imgaug==0.4.0
Jinja2==3.1.6
kiwisolver==1.5.0
lazy-loader==0.5
MarkupSafe==3.0.3
matplotlib==3.11.1
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.4
opencv-python==4.13.0.92
packaging==26.3
pandas==3.0.5
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scikit-image==0.26.0
scipy==1.17.1
seaborn==0.13.2
shapely==2.1.2
six==1.17.0
sympy==1.14.0
tifffile==2026.3.3
torch==2.13.0+cu126
torch-summary==1.4.5
torchsummary==1.5.1
torchvision==0.28.0+cu126
typing_extensions==4.15.0
tzdata==2026.3
